*{margin: 0px; padding: 0px; box-sizing: border-box;}
html {
    scroll-behavior: smooth;
  }
body{
    font-family:"Roboto"; text-align:justify;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    background-image:url(../images/involved_back.png);
    background-repeat:no-repeat; background-size:cover;
	background-attachment:fixed; background-position: center center;
    }